<!doctype html>
<html lang="en">
<head>

    <title>{{ siteName }}</title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ mix('/assets/app.css') }}">

</head>
<body class="bg-darkerBlue flex flex-col-reverse">
<div class="hidden"><a href="#main">Skip to content</a></div>
<div id="app">

    {% include '_components/site-header.twig' %}

    <main id="main">
        {% block appMain %}
            No app content
        {% endblock %}
    </main>

    {% include '_components/site-footer.twig' %}

</div>

<script src="{{  mix('/assets/manifest.js') }}" defer></script>
<script src="{{  mix('/assets/vendor.js') }}" defer></script>
<script src="{{  mix('/assets/app.js') }}" defer></script>

</body>
</html>